In [1]:
import pandas as pd

In [4]:
titanic = pd.read_csv("./titanic.csv")

In [6]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [8]:
# 筛选特征值和目标值
x = titanic[["pclass","age","sex"]]
y = titanic["survived"]

In [9]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [10]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [11]:
# 缺失值处理
x["age"].fillna(x["age"].mean(),inplace=True)

C:\Users\tyza66\AppData\Local\Temp\ipykernel_56912\304076952.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["age"].fillna(x["age"].mean(),inplace=True)
C:\Users\tyza66\AppData\Local\Temp\ipykernel_56912\304076952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["age"].fillna(x["age"].mean(),inplace=True)

In [13]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [15]:
# 转换成字典
x = x.to_dict(orient="records")

In [16]:
from sklearn.model_selection import train_test_split
# 数据集划分
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

In [18]:
# 字典特征抽取
from sklearn.feature_extraction import DictVectorizer
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test =  transfer.fit_transform(x_test)

In [19]:
estimator = DecisionTreeClassifier(criterion="entropy") # 默认是gini基尼系数 我们用信息熵 信息增益
estimator.fit(x_train, y_train) # 训练

# 4 模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("预测值为：", y_predict)
print("比对真实值和预测值：", y_test == y_predict) # 比对真实值和预测值

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：", score)

# 可视化决策树
export_graphviz(estimator, out_file="iris_tree.dot", feature_names=transfer.get_feature_names_out())

TypeError: float() argument must be a string or a real number, not 'dict'