In [ ]:
# 第一步: 获取数据
# 第二步: 合并表
# 第三步: 找到user_id和aisle之间的关系
# 第四步: PCA降维

In [1]:
import pandas as pd

In [2]:
# 获取数据
order_products = pd.read_csv("./instacart/order_products__prior.csv")
products = pd.read_csv("./instacart/products.csv")
orders = pd.read_csv("./instacart/orders.csv")
aisles = pd.read_csv("./instacart/aisles.csv")

In [4]:
# 进行合并表
tab1 = pd.merge(aisles,products,on=["aisle_id","aisle_id"]) #默认就是内连接

In [6]:
tab2 = pd.merge(tab1,order_products,on=["product_id","product_id"])

In [8]:
tab3 = pd.merge(tab2,orders,on=["order_id","order_id"])

In [9]:
tab3.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,209,Italian Pasta Salad,20,192465,2,1,119977,prior,2,0,16,3.0
2,1,prepared soups salads,209,Italian Pasta Salad,20,195206,18,1,1519,prior,7,2,9,5.0
3,1,prepared soups salads,209,Italian Pasta Salad,20,227717,1,1,161125,prior,7,2,11,11.0
4,1,prepared soups salads,209,Italian Pasta Salad,20,260072,13,0,12012,prior,5,5,11,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,49661,Porto,5,2238789,10,1,72244,prior,19,4,23,5.0
32434485,134,specialty wines champagnes,49661,Porto,5,2251344,5,1,72244,prior,18,6,10,9.0
32434486,134,specialty wines champagnes,49661,Porto,5,2616249,2,0,100075,prior,8,4,17,9.0
32434487,134,specialty wines champagnes,49661,Porto,5,2715237,1,0,135045,prior,3,6,14,30.0
32434488,134,specialty wines champagnes,49661,Porto,5,3263901,6,1,72244,prior,15,4,9,14.0

In [13]:
# 使用交叉表找到user_id和aisle之间的关系
table = pd.crosstab(tab3["user_id"],tab3["aisle"]) # 新的表会列出同一个用户不同购物通道的频次吗

In [14]:
data = table[0:10000] # 数据量太大,现在只取前10000条数据

In [15]:
# 通过PCA降维减少数据的冗余 简化数据\减少噪声\提高效率
from sklearn.decomposition import PCA

In [16]:
transfer = PCA(n_components=0.95)  # 比较常用小数
data_new = transfer.fit_transform(data)

In [19]:
data_new.shape  # 发现降维很多 但是信息损失很少

(10000, 42)