In [1]:
import pandas as pd

In [4]:
titanic = pd.read_csv("./titanic.csv")

In [6]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [8]:
# 筛选特征值和目标值
x = titanic[["pclass","age","sex"]]
y = titanic["survived"]

In [9]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [10]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [11]:
# 缺失值处理
x["age"].fillna(x["age"].mean(),inplace=True)

C:\Users\tyza66\AppData\Local\Temp\ipykernel_56912\304076952.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["age"].fillna(x["age"].mean(),inplace=True)
C:\Users\tyza66\AppData\Local\Temp\ipykernel_56912\304076952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["age"].fillna(x["age"].mean(),inplace=True)

In [13]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [15]:
# 转换成字典
x = x.to_dict(orient="records")

In [16]:
from sklearn.model_selection import train_test_split
# 数据集划分
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

In [20]:
# 字典特征抽取
from sklearn.feature_extraction import DictVectorizer
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test =  transfer.fit_transform(x_test)

In [23]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz

In [25]:
estimator = DecisionTreeClassifier(criterion="entropy",max_depth=8) # 默认是gini基尼系数 我们用信息熵 信息增益
estimator.fit(x_train, y_train) # 训练

# 4 模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("预测值为：", y_predict)
print("比对真实值和预测值：", y_test == y_predict) # 比对真实值和预测值

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：", score)

# 可视化决策树
export_graphviz(estimator, out_file="titanic_tree.dot", feature_names=transfer.get_feature_names_out())

预测值为： [0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
比对真实值和预测值： 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率为： 0.7811550151975684

### 随机森林对泰坦尼克号生存进行预测

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [32]:
# 可以通过网格搜索自动调参
estimator = RandomForestClassifier()
# 加入网格搜索和交叉验证
param_dict = {"n_estimators":[120,200,300,500,800,1200],
             "max_depth":[5,8,15,25,30]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)

estimator.fit(x_train, y_train)

y_predict = estimator.predict(x_test) 
print("预测值为：", y_predict)
print("比对真实值和预测值：", y_test == y_predict) 

score = estimator.score(x_test, y_test)
print("准确率为：", score)

# 最佳参数
print("最佳参数：", estimator.best_params_)
# 最佳结果
print("最佳结果：", estimator.best_score_)
# 最佳估计器
print("最佳估计器：", estimator.best_estimator_)
# 交叉验证结果
print("交叉验证结果：", estimator.cv_results_)

预测值为： [0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
比对真实值和预测值： 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率为： 0.7872340425531915
最佳参数： {'max_depth': 5, 'n_estimators': 200}
最佳结果： 0.8363821138211383
最佳估计器： RandomForestClassifier(max_depth=5, n_estimators=200)
交叉验证结果： {'mean_fit_time': array([0.14376132, 0.21768006, 0.32323758, 0.53637242, 0.86720244,
       1.35454082, 0.16017882, 0.26079114, 0.40310526, 0.6564246 ,
       1.04122996, 1.55793389, 0.16394639, 0.2717797 , 0.40708748,
       0.67270271, 1.03222386, 1.62985833, 0.16421247, 0.27306573,
       0.40791702, 0.67870506, 1.08345668, 1.62638187, 0.16573191,
       0.27231352, 0.4065357 , 0.67961025, 1.0991749 , 1.63806661]), 'std_fit_time': array([0.01852751, 0.00527147, 0.00536284, 0.00718453, 0.00792548,
       0.04377524, 0.00410524, 0.00426159, 0.01518335, 0.00670133,
       0.01659394, 0.02310272, 0.00426227, 0.00549612, 0.00938433,
       0.02698465, 0.00155754, 0.03705185, 0.00436233, 0.00641334,
       0.00945994, 0.01843449, 0.03039407, 0.04033782, 0.0040978 ,
       0.00910438, 0.00952228, 0.01799646, 0.02406784, 0.03662182]), 'mean_score_time': array([0.00863481, 0.01217834, 0.01854738, 0.02911377, 0.04704356,
       0.07122   , 0.00880186, 0.01393406, 0.02076014, 0.03358936,
       0.05254738, 0.07820924, 0.0090096 , 0.0142409 , 0.02042699,
       0.03265977, 0.05230689, 0.08087206, 0.00943065, 0.01421762,
       0.02063028, 0.03548813, 0.05287933, 0.079765  , 0.00861939,
       0.01419179, 0.02082634, 0.03333998, 0.05319905, 0.07929889]), 'std_score_time': array([1.43566590e-03, 2.57155803e-04, 3.30803943e-04, 7.21145303e-04,
       1.03365984e-03, 1.95049094e-03, 4.88477112e-04, 2.15935233e-05,
       9.31023978e-04, 3.86742422e-04, 1.49877903e-03, 9.19421043e-04,
       5.43947307e-04, 2.07695777e-04, 5.53843160e-05, 1.25653772e-03,
       1.99192790e-04, 1.18544793e-03, 8.43743399e-04, 4.91201064e-04,
       6.38347698e-04, 8.39130506e-04, 1.22988168e-03, 9.48318909e-04,
       2.08103716e-04, 1.74890966e-04, 4.16602931e-04, 4.23117147e-04,
       5.67358109e-04, 1.22232642e-03]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value=999999), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value=999999), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.82926829, 0.83231707, 0.82926829, 0.82926829, 0.82926829,
       0.82621951, 0.80487805, 0.81402439, 0.80487805, 0.80792683,
       0.81707317, 0.80792683, 0.79573171, 0.79268293, 0.80182927,
       0.79878049, 0.79878049, 0.79573171, 0.79878049, 0.79878049,
       0.79268293, 0.79268293, 0.80182927, 0.79268293, 0.79878049,
       0.79573171, 0.79268293, 0.79878049, 0.79268293, 0.79268293]), 'split1_test_score': array([0.85060976, 0.85365854, 0.85060976, 0.85060976, 0.85365854,
       0.85060976, 0.85365854, 0.85365854, 0.84756098, 0.85365854,
       0.85365854, 0.84756098, 0.85365854, 0.84756098, 0.85060976,
       0.85060976, 0.85670732, 0.85365854, 0.8445122 , 0.85670732,
       0.85670732, 0.85365854, 0.85060976, 0.85365854, 0.8445122 ,
       0.85060976, 0.85365854, 0.85365854, 0.85060976, 0.85365854]), 'split2_test_score': array([0.82621951, 0.82317073, 0.82317073, 0.82317073, 0.82317073,
       0.82317073, 0.80182927, 0.80182927, 0.80182927, 0.80182927,
       0.80182927, 0.80182927, 0.80487805, 0.80487805, 0.80182927,
       0.80182927, 0.80182927, 0.80487805, 0.80182927, 0.80487805,
       0.80487805, 0.80182927, 0.80182927, 0.80182927, 0.80182927,
       0.79573171, 0.80182927, 0.80487805, 0.80182927, 0.80182927]), 'mean_test_score': array([0.83536585, 0.83638211, 0.83434959, 0.83434959, 0.83536585,
       0.83333333, 0.82012195, 0.82317073, 0.81808943, 0.82113821,
       0.82418699, 0.81910569, 0.81808943, 0.81504065, 0.81808943,
       0.81707317, 0.81910569, 0.81808943, 0.81504065, 0.82012195,
       0.81808943, 0.81605691, 0.81808943, 0.81605691, 0.81504065,
       0.81402439, 0.81605691, 0.81910569, 0.81504065, 0.81605691]), 'std_test_score': array([0.01085069, 0.01277419, 0.01176406, 0.01176406, 0.01317224,
       0.01227952, 0.02374659, 0.02212555, 0.02087667, 0.02312969,
       0.02174892, 0.02027433, 0.02542682, 0.02352812, 0.02299534,
       0.02374659, 0.02661748, 0.02542682, 0.02087667, 0.02598925,
       0.02775711, 0.02684928, 0.02299534, 0.02684928, 0.02087667,
       0.02586976, 0.02684928, 0.02455904, 0.02542682, 0.02684928]), 'rank_test_score': array([ 2,  1,  4,  4,  2,  6, 10,  8, 15,  9,  7, 12, 15, 26, 15, 21, 12,
       15, 26, 10, 15, 22, 15, 22, 26, 30, 22, 14, 26, 22], dtype=int32)}